<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Litup<span>realtors</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li
            {% if '/' == request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'index' %}" class="nav-link">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'about' %}" class="nav-link">About Us</a>
          </li>
          <li
            {% if 'listings' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'listings' %}" class="nav-link">Property</a>
          </li>
          <li
            {% if 'posts' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'posts' %}" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Store</a>
          </li>
          <li
            {% if 'contacts' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'contacts' %}" class="nav-link">Contact</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item cta"><a href="{% url 'dashboard' %}" class="nav-link ml-lg-2"><span class="icon-user"></span> Hi, {{ user.username }}, (Dashboard)</a></li>
            <li class="nav-item cta cta-colored">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><span class="icon-pencil"></span> Sign-Out</a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li class="nav-item cta"><a href="{% url 'login' %}" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-In</a></li>
            <li class="nav-item cta cta-colored"><a href="{% url 'register' %}" class="nav-link"><span class="icon-pencil"></span> Sign-Up</a></li>
          {% endif %}
          

        </ul>
      </div>
    </div>
  </nav>