<div class="top">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col">
                <p class="social d-flex">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="https://twitter.com/levismoke"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/levismoke/"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-pinterest"></span></a>
                </p>
            </div>
            <div class="col d-flex justify-content-end">
                <p class="num"><span class="icon-phone"></span> +254 724 035475</p>
            </div>
        </div>
    </div>
</div>